<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @chapter.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chapter.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @chapter.content %>
</p>

<p>
  <strong>References:</strong>
  <%= @chapter.references %>
</p>

<p>
  <strong>Course:</strong>
  <%= @chapter.course.title %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
